.elementor-40 .elementor-element.elementor-element-530a431 {text-align: center;}
.elementor-40 .elementor-element.elementor-element-5982f1e {text-align: center;}
.elementor-40 .elementor-element.elementor-element-575ab63 {text-align: center;}