.elementor-7 .elementor-element.elementor-element-13addb0.elementor-column > .elementor-widget-wrap {justify-content: center;}
.elementor-7 .elementor-element.elementor-element-2e36291 {column-gap: 0px;}
.elementor-7 .elementor-element.elementor-element-b6e092f {text-align: center;}
.elementor-7 .elementor-element.elementor-element-8226ad2.elementor-column > .elementor-widget-wrap {justify-content: space-evenly;}
.elementor-7 .elementor-element.elementor-element-8a16152 {text-align: center;}
.elementor-7 .elementor-element.elementor-element-ab3da83 {text-align: center;}
@media (min-width:768px) {.elementor-7 .elementor-element.elementor-element-8226ad2 {width: 100%;}}